
    /* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 800px;
  padding: 0 15px;
}

.container .text-muted {
  margin: 20px 0;
}

.btcproof-text {
  font-size: 12px;
}

.dropZoneContainer {
  border-radius: 1em;
  border: 2px dashed;
  color: #999;
  height: 5em;
  line-height: 2.8em;
  overflow: hidden;
  padding: 1em 0;
  text-align: center;
}

.dropZoneContainer .dropZone {
  cursor: pointer;
  margin-top: -5em;
  outline: none;
  padding-top: 10em;
  width: 100%;
  position: relative;
}

input["type=file"]:disabled {
  background: #999;
}

#helper:empty, panel, a:not([href]) {
  display: none;
}